<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Pedidos - Trufas da Juju</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <header>
        <a th:href="@{/}">
          <h1>Trufas da Juju</h1>
        </a>
        <nav>
         <a th:href="@{/}">Início</a>
         <a th:href="@{/produtos}">Produtos</a>
         <a th:href="@{/pedidos}">Pedidos</a>
         <a th:href="@{/historico}">Histórico</a>
        </nav>
    </header>

	<h1>Fazer Pedido</h1>
	<form th:action="@{/pedidos}" method="post">

    <label>Nome:</label>
    <input type="text" name="nomeCliente" required>

    <label>Telefone:</label>
    <input type="text" name="telefone" required>

    <label>Forma de pagamento:</label>
    <select name="formaPagamento">
      <option>Pix</option>
      <option>Cartão</option>
      <option>Dinheiro</option>
    </select>

    <label>Data de retirada:</label>
    <input type="date" name="dataRetirada">

    <button type="submit">Enviar Pedido</button>
</form>

</body>
</html>
